<form enctype="multipart/form-data" method="post">



    <div class="mb-3">
      <label for="" class="form-label">Nombre</label>


      <input type="text"
        class="form-control" name="" id="" aria-describedby="helpId" placeholder="Nombre">
      <small id="helpId" class="form-text text-muted">Ingresa el nombre del equiṕo</small>
    </div>



</form>