@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
} 


body {
    font-family: 'Cinzel', serif;
 } 

.container {
    max-width: 1200px;
    margin: 0 auto;
 } 
 header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo-container {
    display: flex;
    align-items: center;
    flex: 1;
}

.logo {
    max-width: 100px;
    height: auto;
    margin: 0 auto;
}

.menu-izquierdo, .menu-derecho {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.menu-izquierdo li, .menu-derecho li {
    margin-left: 20px;
    display: inline; 
}

.menu-izquierdo a, .menu-derecho a {
    color: white;
    text-decoration: none;
}


.menu-izquierdo li::before, .menu-derecho li::before {
    content: "";
}

.bienvenida {
    height: 500px;
    background-image: url('Proyecto/Fondos/Notebook\ Cover\ Leather\ Projects.jpeg');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo-thestar {
    font-size: 100px; /* Tamaño de fuente grande */
    font-family: serif; /* Tipografía serif (puedes reemplazar 'serif' con el nombre de la tipografía deseada si tienes una específica) */
    padding: 10px; /* Espacio alrededor del texto */
    color: yellow; /* Color del texto en amarillo */
}

.texto-lamagia{
    color: white;
}






.btn-1 {
    display: inline-block;
    padding: 12px 45px;
    border: 1px solid #f02c9b;
    color: azure;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 000;
 } 

.btn-1:hover {
    color: rgba(17, 69, 239, 0.863);
    background-color: rgb(248, 158, 221);
 } 

.general {
    padding: 50px 0;
    text-align: center;
 } 

.general-content {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
 } 

.general-1 {
    background-image: url(Proyecto/Productos/Fragrance\ Friday.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 170px 95px;
 } 

.general-2 {
    background-image: url(Proyecto/Productos/Flower\ Knows\ Official\ Site\ _\ Make\ dreams\ come\ true\ \(1\).jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 170px 120px;
 } 

.general-3 {
    background-image: url(Proyecto/Productos/Glamour\ Star\ by\ Thierry\ Mugler.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 170px 30px;
 } 

h2 {
    font-size: 70px;
    text-transform: uppercase;
    color: crimson;
 } 

.txt h3 {
    font-size: 18px;
    color: rgb(230, 27, 27);
    text-transform: uppercase;
    margin-bottom: 10px;
} 

.txt p {
    color: rgb(192, 46, 46);
    font-size: 16px;
} 

.info-1 {
    padding: 200px 0;
    background-image: url(Proyecto/Carta.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 35% 100%;
} 

.info-content {
    text-align: center;
} 

.info-content h2, span {
    color: rgb(252, 252, 252);
} 


.info-2 {
    padding: 200px 0;
    background-image: url(Proyecto/Modelos/Jeff\ Satur\ \(2\).jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
} 

.testi {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 100px;
} 

.testi-txt {
    margin-bottom: 25px;
} 

.testi-txt img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
} 

.testi-txt h3 {
    font-size: 20px;
    color: rgb(247, 245, 245);
} 

.testi-txt p {
    color: rgb(250, 251, 249);
    font-size: 16px;
} 

.footer {
    padding: 100px 0 0 0;
    text-align: center;
} 

.form {
    margin-top: 35px;
} 

.campo {
    margin-right: 10px;
    padding: 17px 35px;
    border: 2px solid #fc3fe6;
    outline: none;
    color: darkblue;
} 

.campo::placeholder {
    color: darkolivegreen;
} 

.btn-2 {
    padding: 17px 35px;
    border: 2px solid #fc3fe6;
    background-color: green;
    color: beige;
} 

.footer-txt {
    margin-top: 100px;
    border-top: 1px solid #fc3fe6;
    padding: 20px 0;
} 

.footer-txt p {
    color: darkorange;
    font-size: 16px;
} 

@media(max-width:991px) {
    .menu {
        padding: 30px;
    } 

    .menu label {
        display: initial;
    } 

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: black;
        display: none;
    } 

    .menu .navbar ul li {
        width: 100%;
    } 

    #menu:checked ~ .navbar {
        display: initial;
    } 

    .header {
        min-height: 0vh;
    } 

    .header-content {
        padding: 100px 30px;
    } 

    .header-txt h1 {
        font-size: 50px;
    } 

    .header-txt p {
        padding: 0;
    } 

    .general {
        padding: 30px 30px 0 30px;
    } 

    .general-content {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    } 



    .info-1 {
        padding: 200px 30px;
        background-size: cover;
        margin-top: -110px;
    } 


    .g2 {
        margin-top: -120px;
    } 

    .info-2 {
        padding: 280px 30px;
        background-size: cover;
        margin-top: -180px;
    } 

    .testi {
        flex-direction: column;
    } 

    .testi.left {
        width: 100%;
        padding-right: 0;
    } 

    .testi.right {
        width: 100%;
        padding-left: 0;
    } 

    h2 {
        font-size: 40px;
    } 

    .footer {
        padding: 0;
        margin-top: -140px;
    } 

    form {
        display: flex;
        flex-direction: column;
        padding: 0 50px;
    } 

    .campo {
        margin: 0 0 10px 0;
    } 

    .footer-txt {
        margin-top: 30px;
    } 
} 